@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

textarea:focus, input:focus{
  outline: none;
}

header {
  background-color: #0745aa;
}

.ant-dropdown-menu{
  width: 270px;
}

.ant-dropdown-menu-item-active{
  background-color: transparent !important;
}

header .ant-input-group-addon button {
  background-color: #fff;
  border-left: 0;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  display: flex !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  background-color: #fff;
  border-radius: 50%;
  display: none !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important;
  color: #000;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #0745aa;
  border: 1px solid #fff;
  transition: all 0.1s linear;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: #fff;
}

/* Responsive */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Keyframes */