@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button {
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --shop-color-bg: #f5f8fd;
  --shop-color-main: #0c5edb;
  --shop-color-text: #252a2b;
  --shop-color-title: #000000;
  --shop-color-hover: #0c5edb;
  --shop-color-button: #0c5edb;
  --shop-color-cartbar: #f80404;
  --shop-color-border: #e7e7e7;
  --footer-color-title: #0c5edb;
  --footer-color-text: #000000;
  --footer-color-bg: #ffffff;
  --shop-addthis-contact: #c0112d;
  --about01-color-bg: #f5f8fd;
  --about03-color-bg: #2f45a7;
  --about03-color-text: #ffffff;
  --about03-color-hover: #1c2f7f;
  --about03-color-focus: #ffffff;
  --header-category-bg: #ffffff;
  --header-category-text: #ffffff;
  --header-category-border: #084aa3;
  --header-category-bgitem: #084aa3;
  --index-promote-bg: #ffffff;
  --index-promote-bgitem: #ffffff;
  --product-color-soldout: #c9c3c3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

textarea:focus,
input:focus {
  outline: none;
}

header {
  background-color: #0745aa;
}

.ant-dropdown-menu {
  width: 270px;
}

.ant-dropdown-menu-item-active {
  background-color: transparent !important;
}

.form-input::placeholder {
  color: #fff;
}

.form-label {
  transition: transform 0.2s;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
  transform: translateY(-12px) scale(0.8);
}

.ant-menu-submenu-title {
  padding: 0 !important;
  margin: 0 !important;
  height: 30px !important;
}

.ant-menu {
  background-color: transparent !important;
}

.ant-menu-item {
  height: 30px !important;
}

.ant-menu li {
  margin: 0 !important;
  padding: 0 !important;
}

.ant-menu li:hover {
  background-color: transparent !important;
}

.ant-menu-submenu-title:hover {
  background-color: transparent !important;
}

header .ant-input-group-addon button {
  background-color: #fff;
  border-left: 0;
}

#cartBtn {
  background-color: red;
  border: 1px solid red;
  transition: all .2s linear;
}

#cartBtn:hover {
  background-color: #fff;
  color: red;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

/* style swiper */

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  display: flex !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  background-color: #fff;
  border-radius: 50%;
  display: none !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important;
  color: #000;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #0745aa;
  border: 1px solid #fff;
  transition: all 0.1s linear;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: #fff;
}



/* Responsive */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 992px) {
  .ant-dropdown-menu {
    width: 100vw;
    height: calc(100vh - 65px);
  }

  .ant-collapse-expand-icon {
    display: none !important;
  }

  .ant-collapse-item-active .ant-collapse-header-text,
  .ant-collapse-item-active .ant-collapse-extra svg {
    font-weight: 700;
  }

  .ant-collapse-extra svg {
    transition: transform .4s;
  }

  .ant-collapse-item-active .ant-collapse-extra svg {
    transform: rotate(180deg);
  }

  .filter-modal.css-dev-only-do-not-override-pr0fja.ant-checkbox-group {
    column-gap: 100%;
  }
}

.width-title-cart-item{
  max-width: 80%;
}

@media screen and (min-width: 350px) and (max-width: 640px) {
  .width-title-cart-item{
    width: 180px;
  }
}

/* Style gallery nav button */
.image-gallery-svg {
  width: 40px !important;
  height: 40px !important;
}

.image-gallery-fullscreen-button .image-gallery-svg {
  width: 30px !important;
  height: 30px !important;
}

/* Limit text line*/
.limit-1-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* Style page not found*/

.content-pageNot h1 {
  display: block;
  color: #fff;
  font-size: 170px;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}